:root{
    --color-fondo: #000000;
    --color-navbar: #1e2222;
    --color-texto: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', Courier, monospace !important;
}
header {
    background-color: var(--color-navbar);
    display: flex;
    flex-direction: column;
    color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    box-shadow: #000000 0px 0px 40px;
    z-index: 99;
}
header .encabezado{
    display: flex;
    width: 100%;
    height: 90px;

}
header .hamburguesa{
    display: none;
}
header .logo{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 20px;
}
header .logo img{
    width: 120px;
    height: 120px;
}
header nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;

}
nav .btn-close{
    display: none;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
}
nav ul li a:hover{
    color: #38B6FF;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #38B6FF;
    transition: width .3s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}
.nav-container .btnLoguin-popup{
    width:100px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #38B6FF;
    font-family: 'Prompt', sans-serif;
    color: var(--color-texto);
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: 800;
}
.nav-container .btnLoguin-popup:hover{
    background-color: #38B6FF;
    transition: 0.5s ease;
    transform: scale(1.1);
}
.slider{
    background-color: #fff;
    height: 60px;
    margin: auto;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(100px * 18);
    animation: scroll 25s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-50px * 9));
    }
}
.slide{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.slide img{
    width: 100%;
    filter: grayscale(1);
}


/* Hasta aca el el nav y el slider ahora Login-Registro */

.wrapper{
    position: fixed;
    left: 40%;
    top: 20%;
    width: 400px;
    height: 440px;
    background-color: var(--color-navbar);
    border: 2px solid #38B6FF;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 500px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}


.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
    
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #38B6FF;
    font-size: 2em;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
.input-box {
    position: relative;
    left: 10%;
    width: 80%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    color: #fff;
    font-family: 'Prompt', sans-serif;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #38B6FF;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Prompt', sans-serif;

}
.remember-forgot label{
    position: relative;
    left: 10%;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
    position: relative;
}


.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    color: #38B6FF;
    transition: .5s;
    text-decoration: underline;
}

.btn{
    width: 80%;
    height: 45px;
    background-color: #3e444181;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    color: #fff;
    position: relative;
    left: 10%;  
    cursor: pointer;
    transition: .5s;
}

.btn:hover{
    background-color: #38B6FF;
    color: #fff;
    transition: .5s;
    transform: scale(1.03);
}

.login-register{
    font-family: 'Prompt', sans-serif;
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.login-register p a:hover{
    color: #38B6FF;
    transition: .5s;
    text-decoration: underline;
}

/*                          Fin de Login                       */

main{
    margin-top: 150px;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.1)
    ),
    url('../assets/fondo-img/habitacion.gamer.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    color: var(--color-texto);
    position: static;
    top: 0;
    z-index: -1;
}
#inicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
#inicio .inicio-container-text{
    width: 70%;
    height: 80%;
    margin-left: 20px;
    text-align: center;
}
#inicio .inicio-container-text h1{
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
    margin-top: 50px;
}
#inicio .inicio-container-text p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}
#inicio .fondo-container{
    width: 30%;
    height: 100%;
    box-shadow: -9px 9px 5px 0px rgba(255, 255, 255, 0.28);
    overflow: hidden;
}
#inicio .fondo-container img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    object-fit: cover;
}
#inicio .fondo-container img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
    z-index: 1;
}
#descuentos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
#descuentos .descuentos-container{
    width: 30%;
    height: 100%;
    box-shadow: -9px 9px 5px 0px rgba(255, 255, 255, 0.28);
    overflow: hidden;
}
#descuentos h2{
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
    margin-top: 50px;
}
#descuentos p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    justify-content: justify;
}
#descuentos p .text-1{
    margin: 0;
}
#descuentos p span{
    color:#38B6FF;
    font-weight: 600;
}
#descuentos p span .discount{
    color:#F42626;
    font-weight: 800;
}
#productos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#productos h2{
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
    margin-top: 50px;
}
#productos .productos-container{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#productos .productos-container .cards{
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 45px;
    background-color: #000;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    display: flex;
    transition: 0.6s ease;
}
#productos .productos-container .cards:hover{
    transition: 0.6s ease;
    transform: scale(1.1);
    box-shadow: -21px 25px 17px 6px rgba(0,0,0,0.28);
}
#productos .productos-container .cards img{
    width: 100%;
    height: 470px;
    object-fit: cover;
}

/*                             footer del sitio                              */

footer{
    width: 100%;
    height: 100%;
    background-color: #38B6FF;
    margin-top:50px;
}
footer .footer-container{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -12px 17px 6px rgba(0,0,0,0.28);
}
.footer-container .footer-container-title p{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color:#fff;
    transition: 1s ease;
}
.footer-container .footer-container-title p:hover{
    transition: 1s ease;
    color: var(--color-navbar);
}
.footer-container ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    gap: 25px;
}
.footer-container-social a{
    text-decoration: none;
    color:#fff;
    font-size: 35px;
    transition: 0.5s ease;
}
.footer-container-social a:hover{
    transition: 0.5s ease;
    color: var(--color-navbar);
}

@media only screen and (max-width:320px){
    header{
        position: fixed;
    }
    .encabezado{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .hamburguesa{
        display: block;
        font-size: 1.5em;
        color: #fff;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        margin-right: 20px;
        cursor: pointer;
    }
    .nav-container{
        display: none;
    }
    .nav-container.active{
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-navbar);
        z-index: 99;
    }
    .nav-container.active ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        right: 10%;
        gap: 25px;
    }
    .nav-container.active ul .btn-close{
        display: block  ;
        position: absolute;
        top: 0;
        right: 15%;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        font-size: 1.5em;
    }
    .nav-container.active .btnLoguin-popup{
        position: relative;
        top: 20%;
        right: 10%;
        background-color: var(--color-navbar);
        outline: none;
        font-size: 1.5em;
    }
    .wrapper{
        display: block;
        position: fixed;
        width: 95vw;
        height: 70%;
        left: 0;
        z-index: 99;
    }

    .wrapper .form-box{
        width: 100%;
        padding: 0;
    }
    main{
        width: 100vw;
        height: 100vh;
    }
    main .inicio-container{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;    
        height: 100%;

       }
    main .inicio-container-text h1{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 15%;
    }
    
    main .fondo-container{
        display: none;
    }
    #descuentos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }   
    #descuentos img{
        width: 100%;
        height: 100%;
    }
    #descuentos .descuentos-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        width: 100%;
        height: 100%;
        margin-left: 5%;   
    }  
    #productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    } 
    #productos h2{
        width: 100%;
        height: 20%;
    }
    #productos .productos-container .cards{
        width: 100vw;
        height: 80%;
        margin-bottom: 20px;
    }
    #productos .productos-container .cards img{
        width: 100%;
        height: 100%;
    }
    footer{
        width: 100%;
        height: 100%;
    }
    footer .footer-container{
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px -12px 17px 6px rgba(0,0,0,0.28);
    }
    footer .footer-container .footer-container-title p{
        width: 100%;
        height: 100%;
        margin-left: 10%;
    }   

}

@media only screen and (max-width:375px){
    header{
        position: fixed;
    }
    .encabezado{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .hamburguesa{
        display: block;
        font-size: 1.5em;
        color: #fff;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        margin-right: 20px;
        cursor: pointer;
    }
    .nav-container{
        display: none;
    }
    .nav-container.active{
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-navbar);
        z-index: 99;
    }
    .nav-container.active ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        right: 10%;
        gap: 25px;
    }
    .nav-container.active ul .btn-close{
        display: block  ;
        position: absolute;
        top: 0;
        right: 15%;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        font-size: 1.5em;
    }
    .nav-container.active .btnLoguin-popup{
        position: relative;
        top: 20%;
        right: 10%;
        background-color: var(--color-navbar);
        outline: none;
        font-size: 1.5em;
    }
    .wrapper{
        display: block;
        position: fixed;
        width: 95vw;
        height: 70%;
        left: 0;
        z-index: 99;
    }

    .wrapper .form-box{
        width: 100%;
        padding: 0;
    }
    main{
        width: 100vw;
        height: 100vh;
    }
    main .inicio-container{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;    
        height: 100%;

       }
    main .inicio-container-text h1{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 15%;
    }
    
    main .fondo-container{
        display: none;
    }
    #descuentos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }   
    #descuentos img{
        width: 100%;
        height: 100%;
    }
    #descuentos .descuentos-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        width: 100%;
        height: 100%;
        margin-left: 5%;   
    }  
    #productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    } 
    #productos h2{
        width: 100%;
        height: 20%;
    }
    #productos .productos-container .cards{
        width: 100vw;
        height: 80%;
        margin-bottom: 20px;
    }
    #productos .productos-container .cards img{
        width: 100%;
        height: 100%;
    }
    footer{
        width: 100%;
        height: 100%;
    }
    footer .footer-container{
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px -12px 17px 6px rgba(0,0,0,0.28);
    }
    footer .footer-container .footer-container-title p{
        width: 100%;
        height: 100%;
        margin-left: 10%;
    }   

}

@media only screen and (max-width:425px){
    header{
        position: fixed;
    }
    .encabezado{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .hamburguesa{
        display: block;
        font-size: 1.5em;
        color: #fff;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        margin-right: 20px;
        cursor: pointer;
    }
    .nav-container{
        display: none;
    }
    .nav-container.active{
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-navbar);
        z-index: 99;
    }
    .nav-container.active ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        right: 10%;
        gap: 25px;
    }
    .nav-container.active ul .btn-close{
        display: block  ;
        position: absolute;
        top: 0;
        right: 15%;
        background-color: var(--color-navbar);
        border: none;
        outline: none;
        font-size: 1.5em;
    }
    .nav-container.active .btnLoguin-popup{
        position: relative;
        top: 20%;
        right: 10%;
        background-color: var(--color-navbar);
        outline: none;
        font-size: 1.5em;
    }
    .wrapper{
        display: block;
        position: fixed;
        width: 95vw;
        height: 70%;
        left: 0;
        z-index: 99;
    }

    .wrapper .form-box{
        width: 100%;
        padding: 0;
    }
    main{
        width: 100vw;
        height: 100vh;
    }
    main .inicio-container{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;    
        height: 100%;

       }
    main .inicio-container-text h1{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: 15%;
    }
    
    main .fondo-container{
        display: none;
    }
    #descuentos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }   
    #descuentos img{
        width: 100%;
        height: 100%;
    }
    #descuentos .descuentos-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        width: 100%;
        height: 100%;
    } 
    #descuentos h2{
        width: 100%;
        height: 20%;
        margin-left: 15%;
    }
    #descuentos p{
        margin-left: 0;
        text-align: justify;
        margin: 0 10px;

    }
    #productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        margin-bottom: 100vh;
    } 
    #productos h2{
        width: 100%;
        margin-left: 35%;
    }
    #productos .productos-container .cards{
        width: 100%;
        height: 80%;
        margin-bottom: 20px;
    }
    #productos .productos-container .cards img{
        width: 100%;
        height: 100%;
    }
    footer{
        display: block;
        width: 100%;
        height: 100%;
    }
    footer .footer-container{
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px -12px 17px 6px rgba(0,0,0,0.28);
    }
    footer .footer-container .footer-container-title p{
        width: 100%;
        height: 100%;
        margin-left: 10%;
    }   

    @media only screen and (max-width:768px){

    }
}