<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="venta, asesoramiento, servicio técnico de productos hardware informáticos de alta calidad.">
    <meta name="keywords" content="hardware, servicio técnico, venta, asesoramiento, informática, ordenadores, portátiles, componentes, periféricos">
    <meta name="author" content="Nahuel Riveros, Matías Sáez">
    <title>Productos</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="../index/assets/ico.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Prompt:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Roboto+Mono:wght@200;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <main>
        <div id="app" class="container">
            <h1>Productos Disponibles</h1>
            <br>
            <a class='btn btn-primary' href='./producto_nuevo.html'>Nuevo</a>
            <br><br> 
            <div v-if="error">
                <p>Lo sentimos , ........</p>

            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>

                </section>
                <section v-else>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.precio}}</td>
                                    <td>{{producto.stock}}</td>
                                    <td>
                                        <img width="60"  :src="producto.imagen" :alt="producto.nombre">
                                    </td>
                                    <td>
                                        <a class="btn btn-info" :href="'producto_update.html?id='+ producto.id" >Editar</a>

                                        <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)" >Eliminar</button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        
        <div class="footer-container">
            <div class="footer-container-social">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://chat.whatsapp.com/J6WvaHIO6Kg7ByNx9T4GdY"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                </ul>
            </div>
            <div class="footer-container-title">
                <p>X-H4rdware - © Todos los derechos reservados 2023</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script><!--Link de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script><!--Link de Bootstrap-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/productos.js"></script>    
    <script src="../index/js/script.js"></script>
</body>
</html>